<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>About</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">


    <link href="css/custom.css" rel="stylesheet">
    <style type="text/css">
        body {
            background-color: #FFFFFF;
        }
    </style>
</head>

<body class="well-lg">

    <!-- Navigation -->
    <div class="navbar">
        <a href="/../">Home</a>
        <a href="/../crops">Crop information</a>
        <a href="/../news">News</a>
        <a href="/../weather">Weather</a>
        <a href="#">Pricing</a>
        <a href="https://shop.iffcobazar.com/en/plant-growth-promoters.html">Agri Store</a>
        <a href="/../contact">Expert Help</a>
        <a href="#">About devlopers</a>
    </div>

    <div class="footer-blurb jumbotron">
        <div class="container">
            <h1 class="text-uppercase text-center bold"> Agri Seva Kiosk</h1>
            <h4 class="text-center text-lowercase">Agriculture one stop kiosk for all Farmer's needs.</h4>
        </div>
    </div>
    <div class="container center-block container-fluid container_custom">

        <div class="container">
            <img src="assets/Logo final.png" width="1100" height="115" class="img-thumbnail">
        </div>
        <div class="container">
            <h2 class="center-block text-center"> About the Developers </h2>
        </div>
        <img src="assets/kiosk.jpg" width="1200" height="500" class="img-thumbnail container center-block">

        <div class="container">
            <div class="container center-block">
                <h3 class="text-uppercase"><strong class="center-block"> &nbsp; &nbsp; &nbsp; R.KOUSHIK BHARGAVA &nbsp;
                        &nbsp; &nbsp; &nbsp; Suraj Prasad Sharma &nbsp; &nbsp; SHUBHAM AGARWAL</strong></h3>
                <h3>&nbsp;</h3>
            </div>
        </div>
    </div>
    <footer>
        <div class="feature jumbotron">
            <div class="container">
                <!-- /.row -->
            </div>
        </div>
    </footer>


    <!-- jQuery -->
    <script src="js/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- IE10 viewport bug workaround -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>

    <!-- Placeholder Images -->
    <script src="js/holder.min.js"></script>

</body>

</html>