<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title><%=title%></title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link href="/css/custom.css" rel="stylesheet">


</head>

<body class="well-lg">

    <!-- Navigation -->
    <div class="navbar">
        <a href="#">Home</a>
        <a href="/crops">Crop information</a>
        <a href="/news">News</a>
        <a href="/weather">Weather</a>
        <a href="#">Pricing</a>
        <a href="https://shop.iffcobazar.com/en/plant-growth-promoters.html">Agri Store</a>
        <a href="/contact">Expert Help</a>
        <a href="/about">About devlopers</a>
    </div>

    <div class="footer-blurb jumbotron">
        <div class="container">
            <h1 class="text-uppercase text-center bold"> Agri Seva Kiosk</h1>
            <h4 class="text-center text-lowercase">Agriculture one stop kiosk for all Farmer's needs.</h4>
        </div>
    </div>

    <!-- Content -->
    <div class="container">

        <!-- Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header text-center"><strong> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Please Select an option
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </strong></h1>

            </div>
        </div>
        <!-- /.row -->

        <!-- Feature Row -->
        <div class="row">
            <article class="col-md-4 article-intro">
                <a href="/crops">
                    <img class="img-responsive img-rounded"
                        src="assets/cultivos-cultures-crops-coltura-marruecos-maroc-morocco-marocco-3-700x300.jpg"
                        alt="">
                </a>
                <h3><a href="/crops">Crop Information</a></h3>
                <p>Find information about various crops found in your area, popular crops, cash crops, fertilizers and
                    Precautions</p>
            </article>
            <article class="col-md-4 article-intro">
                <a href="/news">
                    <img class="img-responsive img-rounded"
                        src="assets/15192783_1138458692876353_7817023225401072078_n-700x300.jpg" alt="">
                </a>
                <h3>
                    <a href="/news">Agri-News and Schemes</a>
                </h3>
                <p>Find new about various schemes and yojnas introduced by the Government for the welfare of Farmers.
                </p>
            </article>

            <article class="col-md-4 article-intro">
                <a href="/weather">
                    <img src="assets/download.jpg" alt="" width="343" height="147" class="img-responsive img-rounded">
                </a>
                <h3><a href="/weather">Weather Forcast</a></h3>
                <p>Find out about various weather related information that could help you plan out your crop cultivation
                    planning.</p>
            </article>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <footer>
        <div class="feature">
            <div class="container">
                <div class="row">
                    <article class="col-md-4 article-intro"> <a href="#"> <img class="img-responsive img-rounded"
                                src="assets/pthomeandgarden_6-Vegetables-To-Plant-Late-Summer-700x300 (1).jpg" alt="">
                        </a>
                        <h3><a href="#">Pricing</a></h3>
                        <p>Know about various local and standardized pricing of various crops around your locality.</p>
                    </article>
                    <article class="col-md-4 article-intro"> <a href="https://shop.iffcobazar.com/en/plant-growth-promoters.html"> <img class="img-responsive img-rounded"
                                src="assets/essential-oil-brands-and-companies-700x300.jpg" alt=""> </a>
                        <h3><a href="https://shop.iffcobazar.com/en/plant-growth-promoters.html">Agri- Store</a></h3>
                        <p>Quick store for purchasing pesticides and various agriculture related goods. The store is
                            subsidized by Government of India.</p>
                    </article>
                    <article class="col-md-4 article-intro"> <a href="/contact"> <img class="img-responsive img-rounded"
                                src="assets/pthomeandgarden-Importance-of-Using-Organic-Products-Gardening-700x300.jpg"
                                alt=""> </a>
                        <h3> <a href="contact">Chat with an expert</a></h3>
                        <p>Talk to an expert and know about the various problems you will be facing.</p>
                    </article>
                </div>
                <!-- /.row -->
            </div>
        </div>

        <div class="small-print well-sm"> </div>
    </footer>


    <!-- jQuery -->
    <script src="/js/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- IE10 viewport bug workaround -->
    <script src="/js/ie10-viewport-bug-workaround.js"></script>

    <!-- Placeholder Images -->
    <script src="/js/holder.min.js"></script>

</body>

</html>